@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,500;0,900;1,200;1,500;1,900;1,1000&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Mulish:ital,wght@0,200;0,500;0,900;1,200;1,500;1,900;1,1000&family=Sriracha&display=swap');

:root{
    --isazul: #0007e0;
    --isroxo: #DD0AC7;
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: 0px;
}


*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    font-family:'mulish', Arial, Helvetica, sans-serif;
    border: none;
}


body, html{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(95deg,hsla(238, 100%, 44%, 0.050), rgba(221, 10, 200, 0.0050));
}


div{
    width: 40px;
    height: 40px;
}

div.div_estilizada{
    background-image: linear-gradient(145deg, #0007e0, #DD0AC7);
}


div.div_hover:hover{
    box-shadow: 1px 1px 3px #DD0AC7, -1px -1px 3px #0007E0;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.1s;
        
        
}

img:hover{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.774);
    box-shadow: 1px 1px 3px #DD0AC7, -1px -1px 3px #0007E0;
    transition: 0.1s;
}

h1{
    text-align: center;
    font-weight: 300;
    color: var(--isazul);
}

input{
    text-align: center;
}

input:hover{
    box-shadow: 1px 1px 3px #DD0AC7, -1px -1px 3px #0007E0;
    border-radius: 4px;
    background-color: white;
    font-family: 'mulish';
    text-align: center;
    text-justify: distribute;
    font-weight: 100;
}

input.input_geral{
    background-image: linear-gradient(145deg, #0007e0, #DD0AC7);

}

input.input_hover_none:hover{
    position: relative;
    border:none;
    box-shadow: none;
    transition: none;
}

input.class-btn-comprar{
    position: relative;
    top: -1px;
    left: -44px;
    width: 47%;
    height: 28px;
}

input.class-btn-comentario{
    position: relative;
    top: -57px;
    left: 45px;
    width: 47%;
    height: 28px;
}

input.class-btn-add-ao-carrinho{
    position: relative;
    top: 2px;
    left: 0px;
    width: 98%;
    height: 28px;
}

a{
    text-decoration: none;
    font-size: 0.8em;
    color: #DD0AC7;
}

footer{
    height: 20px;
    width: 100%;
    text-align: center;
    background: linear-gradient(95deg,rgba(0, 7, 224), rgba(221, 10, 200));
}