@charset "UTF-8";


div#id-div-minha-conta:last-child{
    display: none;
    position: relative;
    top: -132px;
    left: -6px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 550px;
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
}

img#id-img-menu-voltar{
    position: relative;
    left: 300px;
    margin: 5px ;
    background-image: linear-gradient(125deg, #0007E0,#DD0AC7); 
}

label#id-label-menu-btn-voltar{
    position: relative;
    top: 16px;
    left: 250px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    background-image: linear-gradient(125deg, #0007E0,#DD0AC7);
    font-weight: 600;
}

label#id-label-menu-btn-voltar:hover{
    border: 1px solid white;
    box-shadow: 1px 1px 3px #DD0AC7, -1px -1px 3px #0007E0;
    box-sizing: border-box;
}

h1{
    position: relative;
    top: -45px;
    left: 45px;
    font-family: 'mulish';
    font-weight: 500;
    width: 220px;
    text-align: center;
}

input.class-btn-opcoes-menu{
    width: 95%;
    height: 40px;
    font-family: mulish;
    font-size: 1.3em;
    border: 1px solid black;
    padding: 6px 0px 10px 10px;
    margin: 20px 3px;
    border-radius: 4px; 
}

input.class-btn-opcoes-menu:hover{
    border: 1px solid white;
    box-shadow: 1px 1px 3px #DD0AC7, -1px -1px 3px #0007E0;
    box-sizing: border-box;
}