@charset "UTF-8";

/* Arquivo de estilos para mobaile */


header{
    position: relative;
    width: 97vw ;
    height: 110px;
    margin: 5px;  
}

header img{
    border-radius: 50%;
    width: 35px;
}


img:hover{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.774);
    box-shadow: 1px 1px 3px #DD0AC7, -1px -1px 3px #0007E0;
    transition: 0.1s;
}


div#img-login > img{
    margin: 2px 0px 0px 8px;
}

div#id-div-login{
    position: relative;
    background-image: linear-gradient(150deg, #0007E0, #DD0AC7);
    top: -36px;
    left: 54px;
    border: 1px solid black;
    width: 140px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
    margin: 0px 0px 0px 0px;
}

div#id-div-login > input{
    margin-top: 5px;
    font-family: 'Mulish', sans-serif;;
    font-weight: bold;
    text-transform: uppercase;
    font-family: mulish;
    font-size:1em;
    text-align: center;
    padding-top: 4px;
    padding-left: 3px;
    margin: auto;
    background-color: transparent;
}

div#id-div-login:hover{
    position: relative;
    top: -36px;
    left: 54px;
    border: 1px solid rgb(255, 255, 255);
    
}

div#id-div-ajuda{
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 205px;
    width: 55px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid black;
}

div#id-div-ajuda:hover{
    border: 1px solid white;
    box-shadow: 1px 1px 3px #DD0AC7, -1px -1px 3px #0007E0;
}

div#id-div-ajuda input {
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    padding-top: 4px;
    padding-left: 3px;
    margin: auto;
    background-color: transparent;
}

div#img-carrinho{
    display: block;
    float: right;
    position: relative;
    top: -69px;
    width: 40px;
    height: 40px;
}


div#img-sacola{
    display: block;
    position: relative;
    float: right;
    top: -71px;
    left: -10px;
    width: 40px;
    height: 40px;
}

div#img-sacola > img{
    margin: 2px 2px 2px 2px;
}

div#barra-de-pesquisa{
    display: block;
    background-image: linear-gradient(#0007E0, #DD0AC7);
    position: absolute;
    top: 40px;
    left: 60px;
    height: 35px;
    width: 80vw;
    border-radius: 30px;
}

div#barra-de-pesquisa > input#input-pesquisa { 
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 39px);
    height: 30px;
    border-radius: 30px;
    text-align: center;
    font-family: 'mulish', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

img#id-img-lupa-pesquisa{
    display: block;
    float: right;
    border: none;
    box-shadow: none;
    top: 0px;
    left: 0px;
}

div#id-menu{
    background: linear-gradient(95deg,rgba(0, 7, 224, 0.314), rgba(221, 10, 200, 0.315));
    position: relative;
    width: 40px;
    height: 30px;
    top: -24px;
    left: 8px;
    border-radius: 5px;
}

div#id-menu > img{
    position: relative;
    width: 39px;
    top: -4px;
}

img.img-sem-estilo:hover{
    border: none;
    box-shadow: none;
}


div#id-menu:hover{
    border: 1px solid white;
    box-shadow: 1px 1px 3px #0007E0, -1px -1px 3px #0007E0;
    transition: 0.1s;
}

iframe#id-iframe{
    display: block;
    width: 95vw;
    height: 80px;
    margin: auto;
}


div#id-logo{
    position: relative;
    top: -17px;
    left: 125px;
    width: 115px;
    height: 27px;  
}

div#id-logo img{
    width: 56px;
}

div#id-logo > img.img-sem-estilo{
    width: 56px;
}

div#id-logo > p {
    position: relative;
    top: -27px;
    left: 62px;
    font-family: 'Castoro Titling', sans-serif;
    text-shadow: 1px 1px 4px #DD0AC7, -1px -1px 4px #0007E0;

}

section#id-grade{
    width: 95vw;
    height: 900px;
    margin: auto;
}

article.class-linha-grade{
    width: 349px;
    height: 245px;
    text-align: center;
}

article#id-linha-grade-1{
    width: 100%;
}

article#id-linha-grade-2{
    width: 100%;
}
article#id-linha-grade-3{
    width: 100%;
}
div.class-quadro{

    display: inline-block;
    width: 49%;
    height: 100%;
}

img.class-img-grade{
    width: 100%;
    height: 180px;
    border: none;
    background-color: white;
    border-radius: 6px;
}





