@charset "UTF-8";




body,html{
    height: calc(100% - 40px);
}

header{
    position: relative;
    height: 60px;
}

h1{
    position: relative;
    top: 50px;
    text-align: center;
    font-weight: 300;
    font-size: 2.3em;
}

main{
    height: 100%;
}

section{
    position:relative;
    top: 100px;
    height: 500px;
    width: 350px;
    margin: auto;
}

div{
    position: relative;
    top: 10px;
    height: 65px;
    width: 97%;
    margin: auto; 
}

input{
    position: relative;
    width: 330px;
    height: 50px;
    left: 5px;
    text-align: center;
    font-size: 1em;
    padding: 25px 0px 0px 0px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    background-color: white;
}

input#id-input-btn-enderecos{
    height: 70px;
}

label{
    color: black;
    position: relative;
    top: -49px;
    left: 8px;

}

label#id-input-btn-palavra-enderecos{
    position: relative;
    top: -30px;
}


